@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root
{
    --background-1:#12131a;
    --background-2:#242733;
    --background-3:#363850;
    --text-light:#dfdfe6;
    --text-dark:#0c0c0d;
    --neutral:#505561;
    --highlight:#3076f0;
    --good:#6f6;
    --bad:#f66;
    --shadow:#0004;
    --outline-width:1px;
    --toggle-width:2.5rem;
    --toggle-height:1.2rem;
    --header-padding:2rem;
    --menu-icon-width:1.5rem;
    --menu-icon-height:1.2rem;
    --menu-icon-line-height:0.2rem;
    --menu-icon-size-increase:0.15rem;
    --flashcard-max-width:50rem;
    --flashcard-max-height:30rem;
    --infinity:9999px;
    color:var(--text-light);
    font-family:"Inter";
}

body
{
    display:flex;
    flex-direction:column;
    margin:0;
    min-height:100dvh;
    background-color:var(--background-1);
}

header
{
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    left:0;
    box-sizing:border-box;
    padding:var(--header-padding);
    width:100%;
    background-color:var(--background-2);
    box-shadow:0 0 1rem 0.8rem var(--shadow);
    z-index:1;
}

custom-menu
{
    margin-right:var(--header-padding);
    transition:margin-right 0.2s;
}

custom-menu[open]:has(custom-menu-icon:hover)
{
    margin-right:calc(var(--header-padding) - sqrt(2) * var(--menu-icon-size-increase));
}

custom-menu-icon
{
    position:relative;
    left:0;
    width:var(--menu-icon-width);
    height:var(--menu-icon-height);
    z-index:1;
    transition:left 0.2s;
    cursor:pointer;
    user-select:none;
}

custom-menu[open] > custom-menu-icon:hover
{
    left:calc(-0.5 * sqrt(2) * var(--menu-icon-size-increase));
}

custom-menu-icon > span
{
    display:block;
    position:relative;
    top:0;
    width:var(--menu-icon-width);
    height:var(--menu-icon-line-height);
    border-radius:var(--infinity);
    background-color:var(--text-light);
    transition:transform 0.4s, background-color 0.15s, margin 0.2s, top 0.2s, left 0.2s, width 0.2s;
}

custom-menu[open] > custom-menu-icon:hover > span/*:nth-child(1), custom-menu[open] > custom-menu-icon:hover > span:nth-child(3)*/
{
    width:calc(sqrt(2) * var(--menu-icon-size-increase) + var(--menu-icon-width));
}

custom-menu[open] > custom-menu-icon > span:nth-child(1)
{
    transform:rotate(135deg);
}

custom-menu-icon > span:nth-child(2)
{
    margin:calc((var(--menu-icon-height) - var(--menu-icon-line-height) * 3) / 2) 0;
}

custom-menu > custom-menu-icon:hover > span:nth-child(2)
{
    margin:calc((var(--menu-icon-height) - var(--menu-icon-line-height) * 3) / 2 + var(--menu-icon-size-increase)) 0;
}

custom-menu[open] > custom-menu-icon > span:nth-child(2)
{
    opacity:0;
    transform:rotate(180deg);
    margin:calc(-0.5 * (var(--menu-icon-height) - var(--menu-icon-line-height) * 3 - var(--menu-icon-line-height))) 0;
}

custom-menu[open] > custom-menu-icon > span:nth-child(3)
{
    transform:rotate(225deg);
}

custom-menu > nav
{
    padding-top:calc(var(--header-padding) * 2 + var(--menu-icon-height) * 2);
    position:fixed;
    top:0;
    left:0;
    min-width:calc(var(--menu-icon-width) + var(--header-padding) * 2);
    height:100dvh;
    background-color:var(--background-2);
    transform:translateX(-10rem);
    transition:transform 0.4s;
    user-select:none;
    isolation:isolate;
}

custom-menu[open] > nav
{
    box-shadow:0 0 1rem 0.8rem var(--shadow);
    transform:translateX(0);
}

custom-menu > nav > a
{
    display:block;
    box-sizing:border-box;
    padding:1rem;
    min-width:100%;
    background-color:var(--background-2);
    color:var(--text-light);
    text-decoration:none;
    transition-duration:0.1s;
}

custom-menu[open] > nav > a:hover
{
    background-color:var(--highlight);
    color:var(--text-dark);
}

a
{
    color:var(--highlight);
}

#title
{
    color:inherit;
    font-size:2rem;
    font-weight:bold;
    text-decoration:none;
    transition:color 0.15s;
    user-select:none;
}

#title:hover
{
    color:var(--highlight);
}

main
{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    padding:2rem;
    /* padding-bottom:1rem; */
}

select
{
    margin-bottom:1.5rem;
    padding:0.5rem;
    background-color:var(--background-1);
    color:var(--text-light);
    font-size:small;
    border:none;
    border-radius:0.5rem;
    outline:var(--outline-width) solid var(--neutral);
    transition-duration:0.15s;
    cursor:pointer;
}

select:focus, select:hover
{
    outline-color:var(--highlight);
}

label
{
    margin-bottom:1.5rem;
    font-size:100rem;
    width:max-content;
    font-size:small;
    user-select:none;
    pointer-events:none;
}

label > custom-toggle
{
    margin:0 0.5rem;
    pointer-events:all;
}

custom-toggle
{
    display:inline-block;
    vertical-align:middle;
    width:var(--toggle-width);
    height:var(--toggle-height);
    border-radius:var(--infinity);
    background-color:var(--background-1);
    outline:var(--outline-width) solid var(--neutral);
    transition:background-color 0.1s, outline-color 0.15s;
    cursor:pointer;
}

custom-toggle:focus, custom-toggle:hover
{
    outline-color:var(--highlight);
}

custom-toggle[checked]
{
    background-color:var(--highlight);
    outline-color:var(--highlight);
}

custom-toggle::after
{
    content:"";
    display:block;
    width:var(--toggle-height);
    height:var(--toggle-height);
    border-radius:var(--infinity);
    background-color:var(--text-light);
    transition:transform 0.25s;
}

custom-toggle[checked]::after
{
    transform:translateX(calc(var(--toggle-width) - var(--toggle-height)));
}

#main-inputs-container
{
    display:flex;
    flex-direction:column;
    align-self:center;
    margin-top:0.5rem;
}

#special-character-buttons-container
{
    display:flex;
    flex-direction:row;
    align-self:center;
    margin-top:1rem;
}

#flashcard-container
{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2rem;
}

#flashcard
{
    display:none;
    align-items:center;
    justify-content:center;
    padding:2rem;
    box-sizing:border-box;
    width:100%;
    height:100%;
    max-width:var(--flashcard-max-width);
    max-height:var(--flashcard-max-height);
    aspect-ratio:calc(var(--flashcard-max-width)/var(--flashcard-max-height));
    border-radius:2rem;
    outline:var(--outline-width) solid var(--neutral);
    background-color:var(--background-2);
    font-size:1.5rem;
    box-shadow:0 1rem 1rem 0 var(--shadow);
    transition-duration:0.15s;
    cursor:pointer;
    user-select:none;
}

#flashcard:hover
{
    outline-color:var(--highlight);
}

.good
{
    outline-color:var(--good)!important;
}

.bad
{
    outline-color:var(--bad)!important;
}

#flashcard-buttons
{
    display:none;
    align-self:center;
    margin-top:2rem;
}

p
{
    margin:0;
}

table
{
    align-self:center;
    border-spacing:0.4rem 0.5rem;
}

th[scope="row"]
{
    text-align:right;
}

input[type="text"]
{
    margin:0.1rem;
    padding:0.5rem;
    width:5rem;
    border:none;
    border-radius:0.5rem;
    outline:var(--outline-width) solid var(--neutral);
    background-color:var(--background-1);
    color:var(--text-light);
    font-family:inherit;
    transition-duration:0.15s;
}

input[type="text"]:hover, input[type="text"]:focus
{
    outline-color:var(--highlight);
}

.table-input.bad:hover, .table-input.bad:focus
{
    outline-color:var(--highlight)!important;
}

button
{
    border:none;
    border-radius:0.5rem;
    outline:var(--outline-width) solid var(--neutral);
    background-color:var(--background-1);
    color:var(--text-light);
    font-family:inherit;
    font-size:1.2rem;
    transition:background-color 0.1s, color 0.1s, outline-color 0.15s;
    cursor:pointer;
    user-select:none;
}

button:focus, button:hover
{
    outline-color:var(--highlight);
}

button:active
{
    background-color:var(--highlight);
}

.special-character-button
{
    margin:0.8rem;
    width:3.25rem;
    height:3.25rem;
}

#flashcard-buttons > button
{
    display:flex;
    align-items:center;
    margin:0 2rem;
    width:4rem;
    height:4rem;
    border-radius:var(--infinity);
}

#unknown:focus, #unknown:hover
{
    outline-color:var(--bad);
}

#unknown:active
{
    background-color:var(--bad);
}

#known:focus, #known:hover
{
    outline-color:var(--good);
}

#known:active
{
    background-color:var(--good);
}

#restart:focus, #restart:hover
{
    outline-color:var(--text-light);
}

#restart:active
{
    background-color:var(--text-light);
}

#flashcard-buttons > button > svg
{
    flex-grow:1;
    stroke-width:12;
    stroke-linecap:round;
    stroke-linejoin:round;
}

#flashcard-buttons > button:active > svg
{
    stroke:var(--background-1);
}

#unknown svg
{
    stroke:var(--bad);
}

#known svg
{
    stroke:var(--good);
}

#restart svg
{
    stroke:var(--text-light);
    fill:none;
}

#prompt
{
    align-self:center;
    margin:1rem;
    font-size:1.5rem;
}

#input
{
    align-self:center;
    width:100%;
    text-align:center;
}

#numbers-inputs-container
{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-self:center;
    width:100%;
    max-width:60rem;
}

#numbers-inputs-container > div
{
    display:flex;
    flex-direction:column;
}

footer
{
    box-sizing:border-box;
    padding:1.5rem;
    width:100%;
    background-color:var(--background-2);
    font-size:small;
    box-shadow:0 0 1rem 0.8rem var(--shadow);
}