@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root
{
    --background-1:#12131a;
    --background-2:#242733;
    --text-light:#dfdfe6;
    --text-dark:#0c0c0d;
    --neutral:#606671;
    --highlight:#3076f0;
    --correct:#6f6;
    --incorrect:#f66;
    --shadow:#5552;
    --outline-width:0.1rem;
    --toggle-width:2.5rem;
    --toggle-height:1.2rem;
    --infinity:9999px;
    color:var(--text-light);
    font-family:"Inter";
}

body
{
    display:flex;
    flex-direction:column;
    margin:0;
    min-height:100vh;
    background-color:var(--background-1);
}

header
{
    background-color:var(--background-2);
    padding:2rem;
    box-sizing:border-box;
    width:100%;
}

main
{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    padding:2rem;
    padding-bottom:1rem;
}

h1
{
    margin:0;
}

select
{
    background-color:var(--background-1);
    color:var(--text-light);
    border:none;
    outline:var(--outline-width) solid var(--neutral);
    margin-bottom:1.5rem;
    padding:0.5rem;
    border-radius:0.5rem;
    font-size:small;
    transition-duration:0.15s;
    cursor:pointer;
}

select:focus, select:hover
{
    outline-color:var(--highlight);
}

label
{
    margin-bottom:1.5rem;
    width:max-content;
    font-size:small;
}

label > custom-toggle
{
    margin-left:0.5rem;
}

custom-toggle
{
    visibility:visible;
    display:inline-block;
    position:relative;
    vertical-align:middle;
    content:"";
    margin:0;
    width:var(--toggle-width);
    height:var(--toggle-height);
    top:0;
    left:0;
    border-radius:var(--infinity);
    outline:var(--outline-width) solid var(--neutral);
    background-color:inherit;
    transition:background-color 0.1s, outline-color 0.15s;
    cursor:pointer;
}

custom-toggle:focus, custom-toggle:hover
{
    outline-color:var(--highlight);
}

custom-toggle[checked]
{
    background-color:var(--highlight);
    outline-color:var(--highlight);
}

custom-toggle::after
{
    visibility:visible;
    display:block;
    position:relative;
    content:"";
    margin:0;
    width:var(--toggle-height);
    height:var(--toggle-height);
    border-radius:var(--infinity);
    background-color:var(--text-light);
    transition-duration:0.25s;
}

custom-toggle[checked]::after
{
    transform:translateX(calc(var(--toggle-width) - var(--toggle-height)));
}

#main-inputs-container
{
    display:flex;
    flex-direction:column;
    align-self:center;
    margin-top:0.5rem;
}

#special-character-buttons-container
{
    display:flex;
    flex-direction:row;
    align-self:center;
    margin-top:1rem;
}

table
{
    align-self:center;
    border-spacing:0.4rem 0.5rem;
}

th[scope="row"]
{
    text-align:right;
}

input[type="text"]
{
    background-color:var(--background-1);
    color:var(--text-light);
    border:none;
    outline:var(--outline-width) solid var(--neutral);
    margin:0.1rem;
    padding:0.5rem;
    width:5rem;
    border-radius:0.5rem;
    font-family:inherit;
    transition-duration:0.15s;
}

input[type="text"]:not(.correct):focus
{
    outline-color:var(--highlight);
}

input[type="text"].correct
{
    outline-color:var(--correct);
}

input[type="text"]:not(:focus).incorrect
{
    outline-color:var(--incorrect);
}

button
{
    background-color:var(--background-1);
    color:var(--text-light);
    border:none;
    outline:var(--outline-width) solid var(--neutral);
    margin:0.8rem;
    width:3.25rem;
    height:3.25rem;
    border-radius:0.5rem;
    font-family:inherit;
    font-size:larger;
    transition:background-color 0.1s, color 0.1s, outline-color 0.15s;
    cursor:pointer;
}

button:focus, button:hover
{
    outline-color:var(--highlight);
}

button:active
{
    background-color:var(--highlight);
    color:var(--background-1);
}

footer
{
    background-color:var(--background-2);
    padding:1rem;
    box-sizing:border-box;
    width:100%;
    font-size:small;
}

a
{
    color:var(--highlight);
}