@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root
{
    --background-1:#12131a;
    --background-2:#242733;
    --text-light:#dfdfe6;
    --text-dark:#0c0c0d;
    --neutral:#606671;
    --highlight:#3076f0;
    --good:#6f6;
    --bad:#f66;
    --shadow:#5552;
    --outline-width:0.1rem;
    --toggle-width:2.5rem;
    --toggle-height:1.2rem;
    --menu-icon-width:1.5rem;
    --menu-icon-height:1.2rem;
    --menu-icon-line-height:0.2rem;
    --infinity:9999px;
    color:var(--text-light);
    font-family:"Inter";
}

body
{
    display:flex;
    flex-direction:column;
    margin:0;
    min-height:100vh;
    background-color:var(--background-1);
}

#menu
{
    display:block;
    z-index:2;
}

#menu-icon
{
    position:relative;
    width:var(--menu-icon-width);
    z-index:3;
    transition-duration:0.2s;
    cursor:pointer;
    user-select:none;
}

#menu[open] #menu-icon:hover
{
    transform:scale(1.1);
}

.menu-icon-line
{
    display:block;
    position:relative;
    top:0;
    width:var(--menu-icon-width);
    height:var(--menu-icon-line-height);
    border-radius:var(--infinity);
    background-color:var(--text-light);
    transition:transform 0.4s, background-color 0.15s, top 0.2s;
}

#menu[open] .menu-icon-line.top
{
    transform:translateY(calc((var(--menu-icon-height) - var(--menu-icon-line-height) * 3) / 2 + var(--menu-icon-line-height))) rotate(135deg);
}

#menu:not([open]) #menu-icon:hover .menu-icon-line.top
{
    top:calc(-0.1 * var(--menu-icon-height));
}

.menu-icon-line.middle
{
    margin:calc((var(--menu-icon-height) - var(--menu-icon-line-height) * 3) / 2) 0;
}

#menu[open] .menu-icon-line.middle
{
    opacity:0;
    transform:rotate(180deg);
}

#menu[open] .menu-icon-line.bottom
{
    transform:translateY(calc(-1 * ((var(--menu-icon-height) - var(--menu-icon-line-height) * 3) / 2 + var(--menu-icon-line-height)))) rotate(225deg);
}

#menu:not([open]) #menu-icon:hover .menu-icon-line.bottom
{
    top:calc(0.1 * var(--menu-icon-height));
}

#menu-content
{
    position:absolute;
    padding-top:6.4rem;
    min-width:calc(var(--menu-icon-width) + 4rem);
    height:100vh;
    left:-10rem;
    top:0;
    background-color:var(--background-2);
    transition-duration:0.5s;
    user-select:none;
}

#menu[open] #menu-content
{
    left:0;
}

.menu-item
{
    display:block;
    padding:1rem;
    min-width:100%;
    box-sizing:border-box;
    background-color:var(--background-2);
    color:var(--text-light);
    text-decoration:none;
    transition-duration:0.1s;
}

.menu-item:hover
{
    background-color:var(--highlight);
    color:var(--text-dark);
}

header
{
    display:flex;
    padding:2rem;
    align-items:center;
    box-sizing:border-box;
    width:100%;
    background-color:var(--background-2);
}

a
{
    color:var(--highlight);
}

#title
{
    font-size:2rem;
    font-weight:bold;
    text-decoration:none;
    color:inherit;
    transition-duration:0.15s;
    user-select:none;
}

#title:hover
{
    color:var(--highlight);
}

header:has(#menu) > #title
{
    margin-left:2rem;
}

main
{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    padding:2rem;
    padding-bottom:1rem;
}

select
{
    background-color:var(--background-1);
    color:var(--text-light);
    border:none;
    outline:var(--outline-width) solid var(--neutral);
    margin-bottom:1.5rem;
    padding:0.5rem;
    border-radius:0.5rem;
    font-size:small;
    transition-duration:0.15s;
    cursor:pointer;
}

select:focus, select:hover
{
    outline-color:var(--highlight);
}

label
{
    margin-bottom:1.5rem;
    width:max-content;
    font-size:small;
    user-select:none;
    pointer-events:none;
}

label > custom-toggle
{
    margin-left:0.5rem;
    pointer-events:all;
}

custom-toggle
{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    content:"";
    margin:0;
    width:var(--toggle-width);
    height:var(--toggle-height);
    top:0;
    left:0;
    border-radius:var(--infinity);
    outline:var(--outline-width) solid var(--neutral);
    background-color:var(--background-1);
    transition:background-color 0.1s, outline-color 0.15s;
    cursor:pointer;
}

custom-toggle:focus, custom-toggle:hover
{
    outline-color:var(--highlight);
}

custom-toggle[checked]
{
    background-color:var(--highlight);
    outline-color:var(--highlight);
}

custom-toggle::after
{
    display:block;
    position:relative;
    content:"";
    margin:0;
    width:var(--toggle-height);
    height:var(--toggle-height);
    border-radius:var(--infinity);
    background-color:var(--text-light);
    transition-duration:0.25s;
}

custom-toggle[checked]::after
{
    transform:translateX(calc(var(--toggle-width) - var(--toggle-height)));
}

#main-inputs-container
{
    display:flex;
    flex-direction:column;
    align-self:center;
    margin-top:0.5rem;
}

#special-character-buttons-container
{
    display:flex;
    flex-direction:row;
    align-self:center;
    margin-top:1rem;
}

#flashcard
{
    display:none;
    margin-top:2rem;
    padding:2rem;
    min-height:20rem;
    align-items:center;
    justify-content:center;
    border-radius:2rem;
    outline:var(--outline-width) solid var(--neutral);
    background-color:var(--background-2);
    transition-duration:0.15s;
    cursor:pointer;
    user-select:none;
}

#flashcard:hover
{
    outline-color:var(--highlight);
}

#flashcard-buttons
{
    display:none;
    margin-top:2rem;
    align-self:center;
}

p
{
    margin:0;
}

#flashcard
{
    font-size:1.5rem;
}

table
{
    align-self:center;
    border-spacing:0.4rem 0.5rem;
}

th[scope="row"]
{
    text-align:right;
}

input[type="text"]
{
    background-color:var(--background-1);
    color:var(--text-light);
    border:none;
    outline:var(--outline-width) solid var(--neutral);
    margin:0.1rem;
    padding:0.5rem;
    width:5rem;
    border-radius:0.5rem;
    font-family:inherit;
    transition-duration:0.15s;
}

input[type="text"]:not(.correct):focus
{
    outline-color:var(--highlight);
}

input[type="text"].correct
{
    outline-color:var(--good);
}

input[type="text"]:not(:focus).incorrect
{
    outline-color:var(--bad);
}

button
{
    background-color:var(--background-1);
    color:var(--text-light);
    border:none;
    outline:var(--outline-width) solid var(--neutral);
    border-radius:0.5rem;
    font-family:inherit;
    font-size:1.2rem;
    transition:background-color 0.1s, color 0.1s, outline-color 0.15s;
    cursor:pointer;
    user-select:none;
}

button:focus, button:hover
{
    outline-color:var(--highlight);
}

button:active
{
    background-color:var(--highlight);
}

.special-character-button
{
    margin:0.8rem;
    width:3.25rem;
    height:3.25rem;
}

#flashcard-buttons > button
{
    display:flex;
    align-items:center;
    margin:0 2rem;
    width:4rem;
    height:4rem;
    border-radius:var(--infinity);
}

#unknown:focus, #unknown:hover
{
    outline-color:var(--bad);
}

#unknown:active
{
    background-color:var(--bad);
}

#known:focus, #known:hover
{
    outline-color:var(--good);
}

#known:active
{
    background-color:var(--good);
}

#restart:focus, #restart:hover
{
    outline-color:var(--text-light);
}

#restart:active
{
    background-color:var(--text-light);
}

#flashcard-buttons > button > svg
{
    flex-grow:1;
    stroke-width:12;
    stroke-linecap:round;
    stroke-linejoin:round;
}

#flashcard-buttons > button:active > svg
{
    stroke:var(--background-1);
}

#unknown svg
{
    stroke:var(--bad);
}

#known svg
{
    stroke:var(--good);
}

#restart svg
{
    stroke:var(--text-light);
    fill:none;
}

footer
{
    background-color:var(--background-2);
    padding:1.5rem;
    box-sizing:border-box;
    width:100%;
    font-size:small;
}